<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="GeneralSetting" type="X_Guide.GeneralConfiguration, X-Guide" />
    <section name="HikVisionSetting" type="X_Guide.HikVisionConfiguration, X-Guide" />
  </configSections>
  <GeneralSetting></GeneralSetting>
  <connectionStrings>
    <add name="XGuideDBEntities" connectionString="metadata=res://*/XGuideModel.csdl|res://*/XGuideModel.ssdl|res://*/XGuideModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=(LocalDB)\MSSQLLocalDB;attachdbfilename=|DataDirectory|\XGuideDB.mdf;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <appSettings>
    <!--启动服务形式(0代表默认系统服务, 1代表exe方式启动)-->
    <add key="StartServerByExe" value="0" />
    <!--服务绝对路径，用于拉起服务(value为""时默认拉起系统服务，value为服务路径时为以进程方式启动)-->
    <add key="ServerPath" value="" />
    <!--<add key="ServerPath" value="E:\Program Files\VisionMaster\VisionMaster4.1.0\Applications\Server\VisionMasterServer.exe" />-->
    <add key="ClientSettingsProvider.ServiceUri" value="" />
    <add key="SaveSettingCommand_SaveMessage" value="Setting saved! Please restart the application for the setting to take effect." />
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
  </startup>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>